@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: #E6E6E6;
}

.logoText {
  background: rgb(0,72,177);
  background: linear-gradient(45deg, rgba(0,72,177,1) 0%, rgba(180,0,164,1) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}